.listGrid {
  display: grid;
  grid-gap: 36px;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  padding-left: 20px;
  padding-right: 20px;
}

.block {
  border-radius: 8px;
  border: 0;
  padding: 20px 20px 20px 20px;
  transition: all ease-in-out 0.2s;
  cursor: pointer;
  list-style-type: none;
  outline: none;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s,
    padding 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;

  &:hover {
    transform: translateY(-0.25rem);
    box-shadow: rgba(46, 41, 51, 0.08) 0px 4px 8px,
      rgba(71, 63, 79, 0.16) 0px 8px 16px;

    .title,
    .content {
    }
  }

  .title {
    font-size: 21px;
    font-weight: bold;
    color: #3d3d4e;
    margin: 0;
    height: 60px;
    line-height: 30px;
    text-align: justify;
    overflow: hidden;
  }

  .content {
    font-size: 14px;
    color: #3d3d4e;
    font-weight: 400;
    height: 120px;
    overflow: hidden;
    line-height: 29px;
    text-align: justify;
  }
}

@media (min-width: 768px) {
  .listFluid {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media (min-width: 1600px) {
  .listGrid {
    grid-template-columns: repeat(auto-fill, minmax(366px, 1fr));
  }
}

@media (min-width: 1200px) {
  .listFluid {
    padding-left: 72px;
    padding-right: 72px;
  }
}
